.completed {
    text-decoration-line: line-through;
    background-color: greenyellow;
}

#task {
    margin: auto;
}

html {
    background-color: #ffffff;
}

header {
    background-color: lightblue;
    padding: 20px; /* Example padding */
    margin: 0; /* Example margin */
}

table {
    margin: auto; /* Center the table horizontally */
    margin-top: 2em; /* Add space above the table */
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: .5em;
    min-width: 3.5em;
}

thead {
    background: #7a7a7a;
    color: black;
}

tbody tr:nth-child(odd) {
    background: #fcfcfc;
}

tbody tr:nth-child(even) {
    background: #dcdcdc;
}

.container {
    margin: auto;
    padding-top: 2em;
    width: 10%;
  }
  
h1 {
    text-align: center;
}
  
* {
    margin: 0;
    padding: 0;
}